raven[flask]
SQLAlchemy
botocore
selinon[celery]==1.0.0
boto3
Werkzeug<=0.16.1
requests
apscheduler
beautifulsoup4
connexion[swagger-ui]
Flask
Flask-OAuthlib<=0.9.4
Flask-Script
json2sql
python-dateutil
pytimeparse
PyYAML
requests-oauthlib<=1.1.0
uwsgi
psycopg2-binary
jsonschema<=2.6.0
f8a_worker @ git+https://github.com/fabric8-analytics/fabric8-analytics-worker.git@c607c20#egg=f8a_worker
